*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo-nav {
    width: 20px;
}

.cabecalho nav {
    position: fixed;
    top: 0;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.3) );
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);

}

.cabecalho nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.cabecalho nav ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
    cursor: pointer;
}
.cabecalho nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
    font-weight: 500;
    font-size: 1rem;
    transition: color
    0.3s ease;
}
.cabecalho nav ul li a:hover {
    color: #ffffff;

}

.brand-container {
    text-align: center;
    padding: 60px 10px 0;
}

.brand-name {
  color: #00ffff;
   margin-top: 0;
    font-family: 'arial Black', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1;
}

.brand-slogan {
    
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 4px;
    font-weight: bold;
    margin-bottom: 15px; /*Espaço antes da linha*/

}

.linha-divisoria {
    width: 100%;
    height: 4px;/*grossura da risca*/
    background-color: #0056b3;
    box-shadow: 0px 2px 10px rgba(0, 86, 179, 0.5);

}
.titulo-oficial {
    font-family: 'Arial Black', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 5px;
    line-height: 1.2em;
    font-weight: 900;
    border-radius: 5px;
    padding: 5px 10px;
    color: #0039e3;
    text-shadow: 0px 0px 10px #fff;
    background: linear-gradient(180deg, #0e3095 0%, #001b6e 100%);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.2));
    /* Transição suave para quando houver interação */
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.sorvete-vitoria{
    font-family: 'Arial Black', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 25px;
    letter-spacing: 3px;
    line-height: 1.2em;
    font-weight: 700;
    color: #ff69b4;
    text-shadow: 0px 0px 8px #fff;
    /* Transição suave para quando houver interação */
    transition: all 0.3s ease;
  
}

.container-produtos {
display: flex;
flex-wrap: wrap;
gap: 20px;
padding: 120px 20px 40px 20px;
flex: 1;
}

.coluna {
    flex: 1;
    min-width: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    border-top: 5px solid #0056b3;
}
.titulo-preco {
    color: #d9534f;
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
/*Estilo do item/produto*/
.item-produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background 0.2s;
}
.item-produto:hover {
    background-color: #f9f9f9;

}
.contador{
    font-weight: bold;
    color: #0056b3;
    width: 30px;
}
.nome-produto {
    flex: 1;
    font-size: 1.1rem;
}
/*botoes controle*/
.controles {
    display: flex;
    gap: 10px;
}
.btn-add, .btn-remove {
    width: 40px;
    height: 40px;
    border:none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
.btn-add{background-color: #0056b3;}
.btn-remove{background-color: #d9534f;}

/*painel administrativo inferior*/
.painel-administrativo {
    background-color: #007bff;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
}
.resumo-valores p {
    font-size: 1rem;
    margin: 5px 0;
}.valor-final {
    font-size: 1.5rem !important;
    font-weight: bold;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 5px;
}
/*botoes de ação final*/
#cancelar-pedido {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
#imprimir-pedido {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}






